.il-radio-button {
  margin-bottom: 20px;
  .check-label {
    text-transform: capitalize;
  }
  .il-radio-label {
    margin-bottom: 10px;
    font-size: $fontSize16;
    font-weight: $fontWeight600;
  }
  .il-radio-check {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-right: 22px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.disabled {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
      }
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &.disabled,
      &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
      }
      &:checked {
        ~ {
          .checkmark {
            background-color: $background-color_3;
            &:after {
              display: block;
            }
          }
        }
      }
    }
    .checkmark {
      &:after {
        top: 7px;
        left: 7px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $background-color_white;
      }
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: $background-color_1;
    border-radius: 50%;
    &:after {
      content: '';
      position: absolute;
      display: none;
    }
  }
}
