.il-input {
  .date-control {
    .input-field {
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
    }
    .date-field {
      width: 46px;
      background: #4caf50;
      border-top-left-radius: unset;
      border-bottom-left-radius: unset;
    }
  }
}
