.il-tooltip-info {
  position: absolute;
  color: $background-color_2;
  display: inline-block;
  margin-left: 5px;
  // height: 15px;
  // width: 15px;
  z-index: 1;
  &:hover {
    .tooltip-text {
      display: block;
    }
  }
  .tooltip-text {
    display: none;
    background-color: $background-color_black;
    color: $background-color_white;
    border-radius: 6px;
    padding: 0px 10px 5px 5px;
    z-index: 1;
    margin-left: 10px;
    position: relative;
    top: -28px;
    left: 19px;
    word-break: break-word;
    .icon {
      position: relative;
      left: -16px;
      color: $background-color_black;
      font-size: 20px;
    }
    // &:before {
    //   z-index: 1;
    //   border: 9px solid $background-color_black;
    //   transform: rotate(45deg);
    //   content: '';
    //   display: inline-block;
    //   position: relative;
    //   top: 4px;
    //   left: -17px;
    // }
  }
}
